PORT=3000
GRPC_PORT=30043
# Replace with your MongoDB connection string (Local or MongoDB Atlas)
# Example Local: mongodb://127.0.0.1:27017/restaurant
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/restaurant?retryWrites=true&w=majority
DATABASE_URL=mongodb://127.0.0.1:27017/restaurant
